
body{
  scroll-behavior: smooth;
}


.navbar{
width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: var(--cyan);
  padding: 8px 12px;
}

.navbar-logo{
  font-size: 24px;
  color: var(--text-color);
}
.navbar-logo i {
  color: var(--text-color);
}

.navbar-menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar-menu li{
color: var(--gray-light);
font-size: 20px;
font-weight: 600;
padding: 16px;
}
.navbar-menu a{
  padding-bottom: 20px;
}
.navbar-menu li:hover{
  color: white;
  transition: 250ms ease-in-out;
}


.navbar-icons{
  list-style: none;
  display: flex;
  color: #fff;
}
.navbar-icons li{
  padding: 8px 12px;
}

.navbar-tooglebtn {
  display: none;
  position: absolute;
  font-size: 24px;
  right: 32px;
}

.navbar-tooglebtn:hover{
  color: var(--teal);
  transition: 250ms ease-in-out;

}
#horizontal-underline{
position: absolute;
left:0;
height: 4px;
width: 0;
border-radius: 3px;
transition: 0.5s;
background-color: var(--teal);
top:0;
z-index: 60;
}
/* body */
#profile-body, #skills, #profile-body{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-body{
  position: relative;
  z-index: 1;
}
#profile-body h1{
  margin-top: 100px;
  margin-bottom: 580px;
  font-size: 50px;
  font-weight: 700;
}
#profile{
  width: 524px;
  height: 524px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200px;
}

#color{
  position: absolute;
  opacity: 0;
  width: 524px;
  height: 524px;
}
#color:hover{
  opacity: 1;
  transition: all ease-in-out 500ms;
  /* cursor: pointer; */
}
#click-profile{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: blink;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile-body p{
  margin-top: 15px;
  text-align: center;
}
/* show */
.show{
  opacity: 0;
}
#introduce{
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  display: flex;
  /* z-index: 5; */
}
#intro-profile{
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  left: 200px;
}
#introduce h1{
  position: absolute;
  font-size: 50px;
  left: 1000px;
  top: 200px;
  color: var(--dark);
}
#introduce h2{
  position: absolute;
  font-size: 20px;
  left: 1000px;
  top: 290px;
  color: var(--light);
}
#introduce p{
  position: absolute;
  left: 1000px;
  top: 400px;
  color: var(--gray);
  line-height: 2em;
}
/* 스킬 */

#section2{
  padding-top: 80px;
}
#skills h2{
  color: var(--gray);
  margin-bottom: 20px;
}
#skills h4{
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 5px;
}
#skills i{
  color: var(--gray);
}
#publishing{
  margin-top: 90px;
  width: 770px;
  display: flex;
  justify-content: space-between;
}
#publishing img{
  text-align: center;
  height: 153px;
  margin-bottom: 45px;
}
#publishing p{
  text-align: center;
}

#frontend{
  margin-top: 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
#frontend img{
  text-align: center;
  height: 153px;
  margin-bottom: 45px;
}
#frontend p{
  text-align: center;
}
.skill-box{
  padding: 20px;
  border: 1px solid var(--white);
  top: 0px;
  position: relative;
}
.skill-box:hover{
  padding: 20px;
  /* border: 1px solid var(--gray-light); */
  border-radius: 20px;
  top: -5px;
  position: relative;
  box-shadow: 10px 8px 5px var(--gray-light);
  transition: all ease-in-out 300ms;
}

/* clone-coding */
#cards{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#works h2{
  color: var(--gray);
  margin-top: 100px;
  margin-bottom: 20px;
}
#works h4{
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 5px;
}
#works i{
  color: var(--gray);
  margin-bottom: 50px;
}
.thecard{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 485px;
  height: 689px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  margin-right: 80px;
}
.thecard:last-child{
  margin-right: 0;
}
.thecard:hover{
  transform: rotateY(180deg);
}
/* 카드 앞쪽 */
.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid var(--gray-light);
  box-shadow: 10px 8px 10px var(--gray);
  transition: all ease-in-out 300ms;
  color: #333;
  display:flex;
  flex-direction: column;
  padding: 38px 30px;
}
.thefront h1{
  font-weight: 300;
}
.card-header{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.profile-img{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.main-img{
  width: 422px;
  height: 438px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.icons{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  height: 32px;
}
.left-icons{
  display: flex;
  width: 110px;
  margin-right: 278px;
}
.right-icons{
  display: flex;
  width: 40px;
}
.left-icons img{
  margin-right: 10px;
}
.thefront h2{
  margin-top: 10px;
  font-size: 20px;
}
.thefront p{
  margin-top: 10px;
  font-size: 15px;
  color: var(--gray);
}
/* 카드뒤쪽 */
.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid var(--gray-light);
  box-shadow: 10px 8px 10px var(--gray);
  transition: all ease-in-out 300ms;
  color: #333;
  transform: rotateY(180deg);
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 30px;

}
.back-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.back-header h1{
  animation-name: blink;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  font-weight: 500;
}
.fog, .infomation{
  width: 422px;
  height: 438px;
  position: absolute;
}
.fog{
  opacity: 0.5;
  background-color: var(--white);
}
.infomation{
  display: flex;
  justify-content: center;
  padding: 140px 30px;
  z-index: 5;
}
.info1, .info2{
  display: flex;
  margin-right: 20px;
  flex-direction: column;
}
.info1{
  font-weight: 500;
}
.info1 span, .info2 span{
  display: block;
  margin-bottom: 20px;
}
.theback p{
  margin-top: 50px;
}

#connection{
  margin: 150px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#connection h2{
  color: var(--gray);
  margin-top: 100px;
  margin-bottom: 20px;
}
#connection h4{
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 5px;
}
#connection i{
  color: var(--gray);
  margin-bottom: 50px;
}
#connection p{
  margin-top: 100px;
  animation-name: blink;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
#git{
  width: 100%;
  display: flex;
  justify-content: center;
}
#git img{
  width: 30px;
  margin-right: 15px;
}
#mail{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:768px) {
  .navbar{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 60px;
      /* padding: 8px 12px; */
  }
  .navbar-menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .navbar-menu li{
      width: 100%;
      text-align: center;
  }
  .navbar-icons{
      display: none;
      justify-content: center;
      width: 100%;
      padding: 0;
  }
  .navbar-tooglebtn{
      display: block;
      color: var(--white);
  }

  .navbar-icons.active,
  .navbar-menu.active{
      display: flex;
      position: absolute;
      z-index: 50;
      top: 50px;
      left: 0;
      padding: 10px 0px;
      background-color: var(--cyan);

  }
  #horizontal-underline{
    display: none;
  }
  article{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profile-body{
    position: relative;
    z-index: 1;
  }
  #profile-body h1{
    margin-top: 100px;
    margin-bottom: 340px;
    font-size: 30px;
    font-weight: 700;
  }
  #profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px;
  }
  
  #color{
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 300px;
  }
  #color:hover{
    opacity: 1;
    transition: all ease-in-out 500ms;
    /* cursor: pointer; */
  }
  #click-profile{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #profile-body p{
    margin-top: 15px;
    text-align: center;
  }
  /* show */
  .show{
    opacity: 0;
  }
  #introduce{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    display: flex;
    /* z-index: 5; */
  }
  #intro-profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    top: 80px;
    left: 40px;
  }
  #introduce h1{
    position: absolute;
    font-size: 30px;
    left: 120px;
    top: 400px;
    color: var(--dark);
  }
  #introduce h2{
    position: absolute;
    font-size: 15px;
    left: 50px;
    top: 450px;
    color: var(--light);
  }
  #introduce p{
    position: absolute;
    left: 10px;
    top: 500px;
    color: var(--gray);
    line-height: 2em;
  }
  /* 스킬 */
  
  #section2{
    padding-top: 600px;
  }
  #skills h2{
    color: var(--gray);
    margin-bottom: 20px;
  }
  #skills h4{
    color: var(--gray);
    font-weight: 300;
    margin-bottom: 5px;
  }
  #skills i{
    color: var(--gray);
  }
  #publishing{
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #publishing img{
    text-align: center;
    height: 53px;
    margin-bottom: 45px;
  }
  #publishing p{
    text-align: center;
  }
  .skill-box{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #frontend{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  #frontend img{
    text-align: center;
    height: 53px;
    margin-bottom: 45px;
  }
  #frontend p{
    text-align: center;
  }
  .skill-box{
    padding: 20px;
    border: 1px solid var(--white);
    top: 0px;
    position: relative;
  }
  .skill-box:hover{
    padding: 20px;
    /* border: 1px solid var(--gray-light); */
    border-radius: 20px;
    top: -5px;
    position: relative;
    box-shadow: 10px 8px 5px var(--gray-light);
    transition: all ease-in-out 300ms;
  }
  
  /* clone-coding */
  #cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #works {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #works h2{
    color: var(--gray);
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #works h4{
    color: var(--gray);
    font-weight: 300;
    margin-bottom: 5px;
  }
  #works i{
    color: var(--gray);
    margin-bottom: 50px;
  }
  .thecard{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 285px;
    height: 489px;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    margin-right: 0px;
  }
  .thecard:last-child{
    margin-right: 0;
  }
  .thecard:hover{
    transform: rotateY(180deg);
  }
  /* 카드 앞쪽 */
  .thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid var(--gray-light);
    box-shadow: 10px 8px 10px var(--gray);
    transition: all ease-in-out 300ms;
    color: #333;
    display:flex;
    flex-direction: column;
    padding: 38px 30px;
  }
  .thefront h1{
    font-weight: 300;
  }
  .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
  .profile-img{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  .main-img{
    width: 222px;
    height: 438px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
    height: 32px;
  }
  .left-icons{
    display: flex;
    width: 110px;
    margin-right: 8px;
    height: 32px;
    width: 32px;
  }
  .right-icons{
    display: flex;
    width: 40px;
    width: 32px;
  }
  .left-icons img{
    margin-right: 10px;
  }
  .thefront h2{
    margin-top: 10px;
    font-size: 20px;
  }
  .thefront p{
    margin-top: 10px;
    font-size: 15px;
    color: var(--gray);
  }
  /* 카드뒤쪽 */
  .theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid var(--gray-light);
    box-shadow: 10px 8px 10px var(--gray);
    transition: all ease-in-out 300ms;
    color: #333;
    transform: rotateY(180deg);
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
  
  }
  .back-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .back-header h1{
    animation-name: blink;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    font-weight: 500;
  }
  .fog, .infomation{
    width: 222px;
    height: 246px;
    position: absolute;
  }
  .fog{
    opacity: 0.5;
    background-color: var(--white);
  }
  .infomation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    z-index: 5;
  }
  .info1, .info2{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
  }
  .info1{
    font-weight: 500;
  }
  .info1 span, .info2 span{
    display: block;
    /* margin-bottom: 20px; */
  }
  .theback p{
    margin-top: 50px;
  }
}
